/.downloads/
/.repo/
/arm-tf-old/
/build-scripts/
/busybox/
/docs/
/linux-old/
/mbedtls/
/model-scripts/
/optee/
/output/
/prebuilts/
/ramdisk/
/recovery/
/tools/
/u-boot/
/uefi/
/vexpress-firmware/
/linux/out/
/arm-tf/build/

/build_kernel.sh
/build_xdma.sh
/build_android_script.sh
/run.sh
/juno.img
/gfxinfo.log
/log.txt
/readme.rst
/screenlog.0
/sync_workspace.py
